.clear {
    clear: both;
}
.short {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 80%;
}
.marginated {
    width: 80%;
}
.surly {
  margin-right: 0.5rem;
}
.div5 {
  float: left;
  width: 20%;
  height: 7rem;
  position: relative;
}