body {
  background-color: #f0f0f0;
}
.Section {
  background-color: white;
  border-radius: 8px;
  margin: 2rem;
  border: #e0e0e0 solid 1px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
-moz-box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
  padding: 0.5rem;
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
}
label {
  margin-right: 0.5rem;
}
input {
  margin-right: 2rem;
}
