body {
  /*
  background-color: #f0f0f0;
  */
}
.Section {
  /*  
  background-color: white;
  border-radius: 8px;
  border: #e0e0e0 solid 1px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
  -moz-box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
  box-shadow: 4px 4px 8px 0px rgba(208,208,208,1);
  */
  margin: 2rem;
  padding: 0.5rem;
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
}
label {
  margin-right: 0.2rem;
}
hr {
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: #d0d0d0;

}
.left {
    float: left;
    width: 25%;
}
.right {
    float: left;
    width: 75%;
}
.clear {
    clear: both;
}
.short {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 80%;
}
.marginated {
    width: 80%;
}
.surly {
  margin-right: 0.5rem;
}
.div5 {
  float: left;
  width: 20%;
  height: 7rem;
  position: relative;
}